/* Home Hero Start */

.hero {
  @include flexCenter(column);
  width: 85vw;
  height: 100%;
  & p {
    text-align: center;
    width: 55%;
  }
  // & ._buttons {
  //   width: 350px;
  //   padding: 10px;
  //   a {
  //     width: 110px;
  //     font-size: medium;
  //     border: none;
  //   }
  //   & a:nth-child(1) {
  //     margin-right: 10px;
  //     @include styleButton();
  //   }
  //   a:nth-child(1):hover {
  //     @include hover();
  //   }
  // }

  // & .companies {
  //   width: 80vw;
  //   height: 6%;
  //   // border: 2px solid red;
  //   text-align: center;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   & p {
  //     color: #a09fa6;
  //     font-size: smaller;
  //   }
  //   & .trusted {
  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 2rem;
  //     justify-content: space-evenly;
  //   }
  //   & img {
  //     height: 40px;
  //     width: 80px;
  //   }
  // }
} /* Home Hero End */

// & .rolling {
//   background-image: linear-gradient(
//     135deg,
//     #8a0086,
//     #920481 8%,
//     #9b097c 18%,
//     #a00c79 23%,
//     #a91174 32%,
//     #b1166f 41%,
//     #bc1d68 53%,
//     #c72361 65%,
//     #d2295b 76%,
//     #df3153 90%,
//     #e9364e 100%,
//     #f27121
//   );
//   -webkit-background-clip: text;
//   background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
