/*  ----home start---- */

$BackgoundImage: "../images";

.home {
  color: $white;
  background: url(#{$BackgoundImage}/backgroundimage.svg);
  padding: 3rem 0rem;
  // border: 2px solid red;
  width: 100%;
  @include flexCenter(column);
  & a.transparent {
    @include transparentlink();
    & span {
      color: orange;
    }
  }
  & ._button {
    @include flexCenter(row);
    width: 35%;
    a {
      width: 200px;
      height: 20px;
      font-size: medium;
      border: none;
      background-color: transparent;
    }
    & a:nth-child(1) {
      @include styleButton();
      width: 150px;
      height: 35px;
      @include flexCenter(column);
      border: inset 1.5px transparent;
    }
    & a:nth-child(1):hover {
      background: $white;
      cursor: pointer;
      color: $pureBlack;
    }
  }

  /* Home Hero Start */
  .hero_section {
    color: white;
    @include flexCenter(column);
    background-image: url("https://assets.website-files.com/609486d2fafa37698a57db5b/628e756e9f4514d25e1825d3_agent-herobg.svg");

    & .section_container {
      @include flexCenter(column);
      width: 80%;
      border: 2px solid red;
      // text-align: center;

      & .block {
        display: flex;
        color: #f1f1ff;
        font-size: 4.5rem;
        line-height: 0.8;
        font-weight: 600;
        text-align: center;
        letter-spacing: -0.025em;
        & .rolling {
          background-image: linear-gradient(
            135deg,
            #8a0086,
            #920481 8%,
            #9b097c 18%,
            #a00c79 23%,
            #a91174 32%,
            #b1166f 41%,
            #bc1d68 53%,
            #c72361 65%,
            #d2295b 76%,
            #df3153 90%,
            #e9364e 100%,
            #f27121
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      & p {
        @include flexCenter(column);
        text-align: center;
        width: 54%;
      }
      & ._button {
        width: 35%;
        border: 2px solid red;
        a {
          width: 200px;
          font-size: medium;
          border: none;
          background-color: transparent;
        }
        & a:nth-child(1) {
          width: 150px;
          padding: 0.5rem;
          height: 22px;
          border: double 0.25px transparent;
          background-image: linear-gradient(#020314, #020314),
            radial-gradient(circle at top left, #f00, #3020ff);
          background-origin: border-box;
          background-clip: padding-box, border-box;
        }
      }
      & .hero_status {
        margin-top: 20px;
        color: #a09fa6;
        height: 3rem;
        display: flex;
        flex-direction: row;
        width: 38%;
        justify-content: space-around;
        & .hero_status_data {
          width: 33%;
          padding: 0;
          margin: 0;
          // border: 2px solid red;
          display: flex;
          flex-direction: column;
          align-items: center;
          & h5 {
            font-size: smaller;
            color: white;
            font-weight: 500;
            font-size: 0.8rem;
            margin: 0;
          }
          & p {
            margin: 0;
            font-size: 0.7rem;
            // font-size: small;
            padding: 0;
          }
        }
        & .bar {
          background-color: gray;
          // border: 2px solid red;
          width: 1px;
          height: 30px;
        }
      }
    }

    & .container_video {
      height: 90vh;
      width: 80%;
      border: 2px solid red;

      border-radius: 10px;
      box-shadow: 1px 1px 20px 0 hsl(0deg 0% 100% / 12%);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-size: cover;
      background-color: #060317;
      margin: 4% 0%;
      background-size: cover;
      // object-fit: cover;
      & video {
        height: 90vh;
        width: 100%;
        background-position: center;
      }
    }

    & .companies {
      width: 80%;
      height: 6rem;
      border: 2px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & p {
        color: #a09fa6;
        font-size: smaller;
      }
      & .trusted {
        display: flex;
        justify-content: space-evenly;
      }
      & img {
        height: 40px;
        width: 80px;
      }
    }
  }
  /* Home Hero End */

  & .firebasestart {
    height: 250vh;
    width: 100%;
    max-height: 400vh;
    @include flexStartRow();
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("https://assets.website-files.com/609486d2fafa37698a57db5b/628fae44abcea7da79ecdde2_home-startbg.svg");
    margin-top: 8%;
    border: 2px solid red;
    & .firebase_section {
      width: 85%;
      & .firebase_upper {
        width: 60%;
        @include flexStartRow();
        display: flex;
        align-self: start;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 20px 30px;
        border: none;
        height: 55vh;
        & a.transparent {
          width: 110px;
          font-size: smaller;
        }
        & .hero_button {
          @include Button();
          & a:nth-child(1) {
            @include styleButton();
            width: 120px;
          }
        }
      }
      & .firebase_middle {
        height: 100vh;
        width: 100%;
        & .firebase_middleupper {
          background-color: red;
          height: 70vh;
          width: 100%;
          margin: 0px 0px 20px 0px;
          border: 1px solid hsla(0, 0%, 100%, 0.06);
          border-radius: 1rem;
          background-color: rgba(10, 11, 30, 0.5);
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          & .firebasecontent_left {
            width: 500px;
            padding: 20px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            justify-content: center;
            // border: 2px solid gold;
          }
          & .firebaseimage_right {
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
              width: 490px;
              height: 350px;
              background-position: center;
              background-size: cover;
              background-image: url("");
            }
          }
        }
        & .firebase_middlelower {
          height: 100vh;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          & .mlcontainer {
            border: 1px solid hsla(0, 0%, 100%, 0.06);
            width: 475px;
            border-radius: 1rem;
            background-color: rgba(10, 11, 30, 0.5);
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            text-align: start;
            padding: 25px;
            display: flex;
            flex-direction: column;
            & p {
              width: 95%;
            }
            & img {
              align-self: center;
              margin-top: 10%;
              width: 90%;
            }
          }
        }
      }
    }
  }

  & .firebaseloop {
    width: 100%;
    margin: 5%;
    padding: 0;
    height: 180vh;
    max-height: 250vh;
    background-image: url("https://assets.website-files.com/609486d2fafa37698a57db5b/628e756e9f4514d25e1825d3_agent-herobg.svg");
    display: flex;
    // border: 2px solid red;
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    & .inner {
      //   border: 2px solid rgb(174, 138, 138);
      width: 85%;
      height: 180vh;
      & .center {
        // border: 2px solid saddlebrown;
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & a.transparent {
          width: 12%;
          align-self: center;
          height: 1.7rem;
          font-size: smaller;
        }
        & h2 {
          width: 85%;
        }
        & .hero_button {
          display: flex;
          align-items: center;
          justify-content: center;
          & a:nth-child(1) {
            width: 180px;
            height: 18px;
            background-image: linear-gradient(#020314, #020314),
              radial-gradient(circle at top left, #f00, #3020ff);
          }
        }
        & .tooleslogo {
          display: flex;
          width: 100%;
          margin-top: 5%;
          justify-content: space-evenly;
          flex-direction: row;
          //   background-color: red;
          & img {
            height: 40px;
            width: 80px;
          }
        }
      }
      & .threepages {
        margin-top: 5%;
        // border: 2px solid red;
        height: 127vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        & ._links {
          height: 40vh;
          margin: 5px;
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          & a {
            padding: 2px;
            width: 32%;
            text-align: start;
            height: 20vh;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            & h4 {
              padding: 0;
              margin: 8px;
            }
            & p {
              padding: 0;
              font-size: 0.88rem;
              margin: 8px;
            }
          }
          & a:hover {
            background-color: rgba(130, 141, 186, 0.16);
          }
          & a:active {
            background-color: rgba(130, 141, 186, 0.16);
          }
        }
        & ._image {
          height: 100vh;
          margin: 14% 0%;
          width: 85%;
          position: absolute;
          & img {
            width: 100%;
            height: 100vh;
          }
        }
      }
    }
  }
  & .section_rolling {
    height: 100vh;
    width: 100%;
    // border: 2px solid red;
    margin: 10% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .rollingcontent {
      flex-direction: column;
      display: flex;
      & .hero_button {
        width: 20%;
        align-self: center;
        justify-content: center;
        & a:nth-child(1) {
          width: 130px;
          padding: 0.5rem;
        }
      }
    }
    & .rollinglogoimages {
      height: 60vh;
      width: 100%;
    }
  }
  & .blinksection {
    width: 100%;
    // background-color: #c7a8c6;
    // border: 2px solid red;
    height: 60vh;
    padding: 50px;
    & .block {
      //   background-color: #9f479c;
      width: 100%;
      height: 60vh;
    }
  }
  & .firebase_mailroom {
    background-image: url("https://assets.website-files.com/609486d2fafa37698a57db5b/628fae44abcea7da79ecdde2_home-startbg.svg");
    height: 110vh;
    // border: 2px solid red;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    display: flex;
    height: 250vh;
    width: 100%;
    max-height: 400vh;
    flex-direction: column;
  }
}

/* home end */
