// natural Colors
$black: #1d1d1b;
$white: #ffffff;
$pureBlack: #000000;
$transparent: #0000;

// gray
$smoke50: #fafafa;
$smoke100: #f5f5f5;
$smoke200: #d4d4d4;
$smoke400: #a3a3a3;
$smoke550: #737373;
$smoke600: #525252;
$smoke700: #404040;
$smoke800: #262626;
$smoke900: #171717;

// yellow
$yellow50: #fffbeb;
$yellow100: #fef3c7;
$yellow200: #fde68a;
$yellow300: #fcd34d;
$yellow400: #fbbf24;
$yellow550: #f59e0b;
$yellow600: #d97706;
$yellow700: #b45309;
$yellow800: #92400e;
$yellow900: #78350f;

// rose
$rose50: #fff1f2;
$rose100: #ffe4e6;
$rose200: #fecdd3;
$rose300: #fda4af;
$rose400: #fb7185;
$rose550: #f43f5e;
$rose600: #e11d48;
$rose700: #be123c;
$rose800: #9f1239;
$rose900: #881337;

// green
$green50: #e8f5e9;
$green100: #c8e6c9;
$green200: #a5d6a7;
$green300: #81c784;
$green400: #66bb6a;
$green550: #4caf50;
$green600: #43a047;
$green700: #388e3c;
$green800: #2e7d32;
$green900: #1b5e20;

//
$lightPink: #faf4ef;
$fadedWhite20: rgba(255, 255, 255, 0.2);

// font size
$fontsize-large: 5.6rem;
$fontsize-large2: 4.2rem;
$fontsize-large34: 3.4rem;
$fontsize-large28: 2.8rem;
$fontsize-large3: 2.4rem;
$fontsize-large4: 2.2rem;
$fontsize-large5: 2rem;
$fontsize-large6: 1.8rem;
$fontsize-default: 1.6rem;
$fontsize-small1: 1.4rem;
$fontsize-small2: 1.2rem;
$fontsize-small3: 1rem;

// font family
$fontfamily-primary-semiBold: "Sofia Pro Semi-Bold";
$fontfamily-primary: "Sofia Pro Regular";
$fontfamily-secondary: "GT Walsheim Regular";

//speed
$animationSpeed: 80s;
