@import url("http://fonts.cdnfonts.com/css/acumin-pro");

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  color: white;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Acumin Pro", sans-serif;
  background-color: #020314;
  background-repeat: repeat;
  // @include backgroundImage()
  // object-fit: fill;
  background-clip: border-box;
  .layout {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    & .content {
      margin-top: 7rem;
    }

    & .logo {
      width: 40%;
      height: 7vh;
      & img {
        width: 90px;
        height: 7vh;
      }
    }
    a:hover {
      color: white;
    }

    // & .feedback {
    //   background-color: #421d2d;
    //   right: 0;
    //   margin: -40px;
    //   padding-top: 8px;
    //   color: white;
    //   width: 8%;
    //   height: 8%;
    //   transform: rotate(270deg);
    //   text-align: center;
    //   position: fixed;
    //   top: 50%;
    //   -webkit-transform: rotate(270deg);
    //   -moz-transform: rotate(270deg);
    //   -ms-transform: rotate(270deg);
    //   -o-transform: rotate(270deg);
    // }
  }
}
h1,
h2,
h3,
h4,
h6 {
  color: #f1f1ff;
  padding-left: 5px;
  width: fit-content;
  letter-spacing: 0.01rem;
}
h1 {
  font-size: 4rem;
  font-family: "Acumin Pro", sans-serif;
  // border: 2px solid red;
  text-align: center;
  font-weight: 600;
  margin: 1rem;
  letter-spacing: 0.1rem;
}
h2 {
  font-family: "Acumin Pro", sans-serif;
  font-size: 2.7rem;
  line-height: 1;
}
h3 {
  font-family: "Acumin Pro", sans-serif;
  font-size: 1.5rem;
  margin: 0px 0px 10px 7px;
  padding: 0;
  line-height: 1;
  font-weight: 550;
}
h4 {
  font-size: 1.2rem;
  line-height: 1;
  margin: 20px 0 10px 0;
}
h5 {
  font-size: 1rem;
  width: 100%;
  color: #f1f1ff;
  margin: 0 0 2px 0;
}
h6 {
  font-size: 0.9rem;
  line-height: 1.2;
  margin: 10px;
  font-weight: 450;
}
a {
  text-decoration: none;
  color: #a09fa6;
  cursor: pointer;
}
a.transparent {
  width: fit-content;
  height: 1rem;
  font-size: smaller;
  border: 2px solid;
}
p {
  color: #a09fa6;
  margin: 0.5rem;
}
.firebasemail {
  @include transparentlink();
}
._buttons {
  // border: 2px solid hotpink;
  width: 350px;
  padding: 10px;
  margin: 0;
  a {
    width: 110px;
    font-size: medium;
    border: none;
  }
  & a:nth-child(1) {
    margin-right: 10px;
    @include styleButton();
  }
  a:nth-child(1):hover {
    @include hover();
  }
}
