//Abstract
@import "./abstract/mixins";
@import "./abstract/variables";

//Layout
@import "./Layout.scss";
@import "../styles/components/hero.scss";

@import "./pages/home.scss";
@import "./header/navbar.scss";
@import "./components/ctaLastsection.scss";
@import "./footer/footer.scss"; // @import "./components/Home/Home.scss"; // @import "./Layout/Footer.scss";

//Pages
// @import "./pages/home.scss";
// @import "./pages/professionals.scss";
// @import "./pages/nursing.scss";
// @import "./pages/company.scss";
// @import "./pages/contactus.scss"
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
