nav {
  min-width: 100vw;
  background-color: #020314;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  height: 4rem;
  // border: 2px solid salmon;

  & .links {
    padding: 10px 0;
    // border: 2px solid salmon;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #a09fa6;
      font-size: 0.875rem;
    }
    & img {
      // border: 2px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7vh;
      width: fit-content;
    }
    & .nav_links {
      align-items: center;
      display: flex;
      gap: 1rem;
      // border: 2px solid red;
      justify-content: space-evenly;
      & .arrow {
        padding-top: 5px;
        // border: 2px solid red;
      }
    }
    & .nav_signin {
      // width: 20%;
      display: flex;
      align-items: center;
      a {
        width: 70px;
        height: 20px;
      }
      & a:nth-child(2) {
        @include styleButton();
        width: 130px;
        padding: 0.4rem;
        height: 35px;
        border: inset 1.5px transparent;
      }
      & a:nth-child(2):hover {
        //    border: 2px solid red;
        background: $white;
        color: $black;
      }
    }
  }
}
